<div id="<%= dom_id location %>">
  <div>
    <strong>Query:</strong>
    <%= location.query %>
  </div>

  <div>
    <strong>Latitude:</strong>
    <%= location.latitude %>
  </div>

  <div>
    <strong>Longitude:</strong>
    <%= location.longitude %>
  </div>

  <div>
    <strong>Label:</strong>
    <%= location.label %>
  </div>

</div>
