<p style="color: green"><%= notice %></p>

<h2><%= @location.label %>:</h2>

<% highs = @forecast.to_h { |d| [d[:date], d[:max]] } %>
<% lows = @forecast.to_h { |d| [d[:date], d[:min]] } %>

<%= line_chart [
  { name: "High", data: highs },
  { name: "Low", data: lows }
], xtitle: "Date", ytitle: "째F" %>

<p>Temperatures in 째F</p>
<table>
  <tr>
    <th>Date</th>
    <th>Low - High</th>
  </tr>
  <% @forecast.each do |day| %>
    <tr>
      <td><%= Date.parse(day[:date]).strftime("%m/%d") %></td>
      <td><%= day[:min].to_i %>째 - <%= day[:max].to_i %>째</td>
    </tr>
  <% end %>
</table>

<div>
  <%= link_to "Edit this location", edit_location_path(@location) %> |
  <%= link_to "Back to locations", locations_path %>

  <%= button_to "Destroy this location", @location, method: :delete %>
</div>
